# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive files
*.tfvars
*.tfvars.json

# Optional
.override.tf
.override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc